{% extends 'layout.html' %}

{% block main %}
{% if not posts %}
<article class="article">
    <p>😶这里是空的。</p>
</article>
{% endif %}
{% for post in posts %}
<article class="article">
    <h2 class="article-title"><a href="{{ post.url }}">{{ post.title }}</a></h2>
    <div class="content limit-height">
        {{ post.content | safe }}
        <div class="hide-article-box"></div>
        <a href="{{ post.url }}" class="fill-link">{{ post.title }}</a>
    </div>
</article>
{% endfor %}
{% endblock %}