<!DOCTYPE html>
<html>

<head>
  {% block head %}
  {% include ['custom/head.html', 'head.html'] ignore missing %}
  {% endblock %}
</head>

<body>

  <div class="container">
    <header class="row header">
      {% include ['custom/header.html', 'header.html'] ignore missing %}
    </header>

    <div class="row body">
      <div class="row page">
        <main class="column main">
          {% block main %}{% endblock %}
        </main>
        <aside class="column sidebar">
          {% include ['custom/sidebar.html', 'sidebar.html'] ignore missing %}
        </aside>
      </div>
    </div>

    <footer class="row footer">
      {% include ['custom/footer.html', 'footer.html'] ignore missing %}
    </footer>
  </div>

  {% block foot %}
  {% include ['custom/foot.html', 'foot.html'] ignore missing %}
  {% endblock %}
</body>

</html>