{% if entry.created or entry.updated or entry.categories or entry.tags %}
<div class="meta">
  {% if entry.created %}
  <span>创建于
    <time datetime="{{ entry.created.strftime('%Y-%m-%d') }}">{{ entry.created.strftime('%Y-%m-%d') }}</time></span>
  {% endif %}
  {%- if entry.updated and entry.updated != entry.created -%}
  {%- if entry.created -%}
  <span>，</span>
  {%- endif -%}
  <span>更新于
    <time datetime="{{ entry.updated.strftime('%Y-%m-%d') }}">{{ entry.updated.strftime('%Y-%m-%d') }}</time></span>
  {% endif %}
  {% if entry.categories %}
  <br>
  <span>分类：
    {%- for category in entry.categories -%}
    {%- if loop.index > 1 -%}
    <span>、</span>
    {%- endif -%}
    <a href="{{ url_for('category', name=category) }}">{{ category }}</a>
    {%- endfor -%}
  </span>
  {% endif %}
  {% if entry.tags %}
  <br>
  <span>标签：
    {%- for tag in entry.tags -%}
    {%- if loop.index > 1 -%}
    <span>、</span>
    {%- endif -%}
    <a href="{{ url_for('tag', name=tag) }}">{{ tag }}</a>
    {%- endfor -%}
  </span>
  {% endif %}
</div>
{% endif %}