* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: #f6f6f7;
    color: #2c3e50;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Noto Sans', 'Open Sans', 'Helvetica Neue', 'Noto Sans SC Regular', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', 'Dengxian', 'Wenquanyi Micro Hei', 'WenQuanYi Zen Hei', sans-serif;
    line-height: 1.2;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    word-break: normal;
}

a {
    text-decoration: none;
    color: #2c3e50;
    transition: 0.1s all ease;
}

p {
    line-height: 1.7;
}

ul, ol, pre {
    line-height: 1.5;
}

ul, ol {
    padding-left: 1.2em;
}

code, pre, textarea {
    font-family: 'Microsoft YaHei Mono', Consolas, "Liberation Mono", Menlo, Courier, monospace !important;
}

code, pre {
    font-size: 90%;
}

img {
    max-width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
}

.site-title {
    padding: 80px 0 60px 0;
}

.site-title .column {
    margin: 0 50px;
}

.site-title h1 {
    font-weight: 700;
    font-size: 2em;
    line-height: 1.1;
    margin: 0.5em 0;
}

.site-title h2 {
    font-size: 1em;
    font-weight: 500;
    letter-spacing: 0.06em;
    margin: 0.5em 0;
}

.body {
    padding-top: 20px;
}

.page {
    align-items: flex-start;
    padding: 0 30px;
}

.site-title, .page {
    max-width: 1100px;
    margin: 0 auto;
}

.main {
    width: 69%;
}

.main .article {
    margin: 10px 0;
}

.main .article:first-child {
    margin-top: 0;
}

.main .article:last-child {
    margin-bottom: 0;
}

.article {
    background-color: #fff;
    border-radius: 30px;
    padding: 3.2em;
}

@media (max-width: 500px) {
    .article {
        padding: 24px;
    }
}

.article .meta {
    font-size: 12px;
    color: rgba(49, 56, 79, .8);
    letter-spacing: .07em;
    padding-bottom: 1em;
    line-height: 1.5;
}

.article .article-title {
    font-size: 1.7em;
    margin-top: 1em;
    margin-bottom: 1em;
}

.article a:active, .article a:hover {
    text-decoration: underline;
}

.article :not(.article-title) a {
    color: #e65100;
}

.content {
    position: relative;
    overflow: hidden;
}

.content h1 a.anchor::before, .content h2 a.anchor::before, .content h3 a.anchor::before, .content h4 a.anchor::before, .content h5 a.anchor::before, .content h6 a.anchor::before {
    display: none;
    content: "#";
    position: absolute;
    transform: translateX(-0.65em);
}

.content h1:hover a.anchor::before, .content h2:hover a.anchor::before, .content h3:hover a.anchor::before, .content h4:hover a.anchor::before, .content h5:hover a.anchor::before, .content h6:hover a.anchor::before {
    display: inline;
}

.content h1 {
    font-size: 1.8em;
}

.content pre {
    display: block;
    overflow-x: auto;
    overflow-wrap: normal;
    word-break: normal;
    tab-size: 4;
    background-color: #282c34;
    color: #dcdccc;
    border-radius: 10px;
    padding: 1.25em 1.5em;
}

.content code.hljs {
    background-color: inherit;
}

/* .content *:not(pre) code {
    padding: 0.25rem 0.5rem;
    margin: 0;
    font-size: 0.85em;
    background-color: rgba(27, 31, 35, 0.05);
    border-radius: 3px;
}

.content code:not(a code) {
    color: #476582;
} */

.content table {
    border-collapse: collapse;
    margin: 1rem 0;
    display: block;
    overflow-x: auto;
}

.content table tr {
    border-top: 1px solid #dfe2e5;
}

.content table tr:nth-child(2n) {
    background-color: #f6f8fa;
}

.content table th, table td {
    border: 1px solid #dfe2e5;
    padding: 0.6em 1em;
}

.content blockquote {
    color: #999;
    border-left: 0.25rem solid #dfe2e5;
    margin-left: 0;
    padding-left: 1rem;
}

.content.limit-height {
    max-height: 240px;
    text-overflow: ellipsis;
    /* overflow: hidden; */
}

.content .hide-article-box {
    position: absolute;
    bottom: -1px;
    z-index: 999;
    width: 100%;
    height: 40%;
    background-image: linear-gradient(-180deg, rgba(255, 255, 255, 0) 0%, #fff 70%);
}

.content .fill-link {
    position: absolute;
    z-index: 9999;
    width: 100%;
    height: 100%;
    text-indent: -9999px;
    overflow: hidden;
    top: 0;
}

.pager-container {
    padding-top: 0;
    padding-bottom: 0;
}

.pager {
    padding: 0 0 1.5em;
    list-style: none;
}

.pager li {
    display: inline;
}

.pager .prev>a, .pager .prev>span {
    float: left;
}

.pager .next>a, .pager .next>span {
    float: right;
}

.pager li>a, .pager li>span {
    display: inline-block;
}

.sidebar {
    margin-left: 2%;
    width: 29%;
    height: auto;
    background-color: #f6e273;
    border-radius: 30px;
    border: 1px solid #31384f;
    box-shadow: inset 10px 10px 0 0 #f6f6f7, 10px 10px 0 0 #f6e273;
}

.sidebar-widgets {
    padding: 30px 40px;
}

.sidebar-widgets .widget {
    font-weight: 500;
}

.sidebar-widgets .widget:first-child {
    margin-top: 0;
}

.sidebar-widgets .widget:last-child {
    margin-bottom: 0;
}

.sidebar-widgets .widget h4 {
    line-height: 1.3;
    font-size: 1.15em;
    font-weight: 700;
    margin: 1.7em 0 1.3em;
}

.sidebar-widgets .widget:first-child h4 {
    margin-top: 1.3em;
}

.sidebar-widgets .widget li {
    margin: 3px 0;
}

.sidebar-widgets .widget ol li:first-child, .sidebar-widgets .widget ul li:first-child {
    margin-top: 0;
}

.sidebar-widgets .widget ol li:last-child, .sidebar-widgets .widget ul li:last-child {
    margin-bottom: 0;
}

.sidebar-widgets .widget a {
    color: rgba(49, 56, 79, .8);
}

.sidebar-widgets .widget a:hover, .sidebar-widgets .widget a:active:hover, .sidebar-widgets .widget a:visited:hover {
    color: rgb(49, 56, 79);
}

@media (max-width: 1000px) {
    .page {
        flex-direction: column;
    }
    .site-title {
        padding: 60px 0 40px 0;
    }
    .page {
        padding: 0 20px;
    }
    .sidebar {
        order: 1;
        margin-left: 0;
        width: 100%;
    }
    .sidebar .widget {
        display: none;
    }
    .sidebar .widget:first-child {
        display: block;
    }
    .main {
        order: 2;
        margin-top: 40px;
        width: 100%;
    }
    .sidebar .widget.hidden-mobile {
        display: none;
    }
}

.footer {
    overflow: hidden;
    background: transparent linear-gradient(180deg, #090a0f, #1b2735);
    color: hsla(0, 0%, 100%, .8);
    width: 100%;
    height: 200px;
    margin-top: 50px;
    align-items: center;
}

.footer a {
    color: hsla(0, 0%, 100%, .8);
}

.footer a:active, .footer a:hover {
    color: hsla(0, 0%, 100%, .9);
}

.footer>div {
    margin: 0 auto;
    /* max-width: 640px; */
    align-items: center;
    font-size: 13px;
}

.footer p {
    margin: 2px 0;
}

@media print {
    body {
        background-color: transparent !important;
        color: #000 !important;
        overflow: visible !important;
        position: absolute;
    }
    .header, .sidebar, .footer, .discuss-thread, .anchor, .meta, .hidden-print {
        display: none !important;
    }
    .main {
        width: 100% !important;
    }
    .article {
        padding: 0 !important;
    }
    .article a {
        color: #2c3e50 !important;
    }
    .content {
        display: block !important;
        overflow: visible !important;
        position: static !important;
        height: auto !important;
        width: auto !important;
    }
    @page {
        size: auto !important;
        margin: auto !important;
    }
}